.wrapper {
    padding: 20px;
    background: #f9f9f9;
    min-height: 100vh;
  }
  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;

  }

  h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 28px;
    color: #333;
  }
  
  .promotion-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  
    th, td {
      padding: 12px 16px;
      text-align: center;
      border-bottom: 1px solid #e0e0e0;
    }
  
    th {
      background-color: #007bff;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
    }
  
    td {
      font-size: 14px;
      color: #333;
    }
  
    tr:last-child td {
      border-bottom: none;
    }
  
    tr:hover {
      background-color: #f1f1f1;
    }
  }
  /* SaleList.module.scss */

.action-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.edit-btn, .delete-btn {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.box-add-btn {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px; /* Cách phía dưới ra 20px */
}
/* Nút Thêm */
.add-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #218838;
  }
}
/* Nút Sửa */
.edit-btn {
  background-color: #3e33a1;
  color: #fff;
  font-weight: 600;

  &:hover {
    background-color: #28148a;
  }
}

/* Nút Xóa */
.delete-btn {
  background-color: #dc3545;
  color: #fff;
  font-weight: 600;

  &:hover {
    background-color: #c82333;
  }
}

  
  /* Responsive Table */
  @media (max-width: 768px) {
    .promotion-table {
      font-size: 13px;
  
      th, td {
        padding: 10px;
      }
    }
  }
  
  @media (max-width: 480px) {
    .promotion-table {
      font-size: 12px;
  
      th, td {
        padding: 8px;
      }
    }
  }
  