.container{
    width : 95%;
    margin: auto;
}

.mySwiper img {
    display: block;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    overflow: inherit;
  }
  .swiper-button-prev, .swiper-button-next {
    top: 45%;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid gray;
    border-radius: 50%;
    color: blue;
    font-weight: 700;
    outline: 0;
    transition: background-color .2s ease, color .2s ease;
    
    &::after {
        font-size: 16px;
    }
  }

