
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Nền trắng sạch sẽ */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 2.55rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #1760c6 /* Màu tiêu đề */
}

.error-message {
    color: #d9534f;
    font-size: 1rem;
    margin-bottom: 15px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #555; /* Màu nhãn */
}

.input {
    padding: 8px; /* Giảm chiều cao input */
    font-size: 1.55rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #f9f9f9; /* Nền input */
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.input:focus {
    border-color: #007bff;
    background-color: #fff; /* Thay nền khi focus */
}

textarea.input {
    height: 70px; /* Giảm chiều cao textarea */
    font-size: 1.55rem;
    resize: none;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.form-group-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.preview {
    margin-top: 10px;
    max-width: 200px;
}

.preview-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3); /* Thêm bóng nhẹ cho nút */
}

.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.submit-button:not(:disabled):hover {
    background-color: #0056b3;
}

.submit-button:not(:disabled):active {
    background-color: #003c8f; /* Màu khi bấm */
}
